# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\12. Praktikum OOP Lanjut\OOP Workspace\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
